<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name ="MessengerDB"
         connectionString ="DataSource=185.23.75.48,8081\SQLEXPRESS ;Initial Catalog= MessengerDB; User ID=wissen302; Password=123456"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>